.weather-container {
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;

}
.weather-container .weather-tittle {
    margin-bottom: 0;
}

@media (max-width: 768px) {
  .weather-container {
    padding: 16px;
    gap: 20px;
  }
}

h1 {
  text-align: center;
  color: #333;
}

.error-message {
  color: #f44336;
  text-align: center;
  padding: 12px;
  margin: 12px 0;
  background-color: #ffebee;
  border-radius: 4px;
} 