<div class="search-container animate__animated animate__fadeIn">
  <div class="search-box">
    <input
      type="text"
      [formControl]="searchControl"
      placeholder="Buscar ciudad..."
      class="search-input animate__animated"
      [class.animate__shakeX]="hasError"
      (focus)="showSuggestions = true"
      (blur)="onBlur()"
    />
    <button 
      class="search-button animate__animated animate__fadeIn"
      (click)="searchCity()"
      [disabled]="!searchControl.value"
    >
      <i class="fas fa-search"></i>
    </button>
  </div>
  
  @if (showSuggestions && suggestions.length > 0) {
    <div class="suggestions-container animate__animated animate__fadeInDown">
      @for (suggestion of suggestions; track suggestion.id) {
        <div 
          class="suggestion-item animate__animated animate__fadeIn"
          (mousedown)="selectCity(suggestion)"
        >
          {{ suggestion.text }}
        </div>
      }
    </div>
  }
</div>
